@import "tailwindcss";

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  header, footer, aside, nav, button {
    display: none !important;
  }
  #printable-invoice {
    border: none !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
